# Starting off

### You are working on data science project to try and predict the price of houses. You have a lot of data about the previous sales of  houses that you want to use to predict other housing prices.  
- How would you store your data?
- What could be some potential problems with saving your data that way?

# A BEGINNER’S GUIDE TO DATABASES & SQL

**Objective:** SWBAT create a SQLite db instance, create tables and insert records into those tables

**Agenda:**
- Overview of databases
- Discuss Differences between SQL DBs
- Explain the basic structures of a RDBMS
- Instantiate SQLite DB instance on your computer

<img src="images/DS_flow_chart.png" width=500>
(data science lifecyle flow chart)

### What is a Database?
- In general, databases store sets of data that can be queried for use in other applications. A database man
agement system supports the development, administration and use of database platforms.
- Backbone of everything on the internet
    - ie, NYT saves txt of each article in a DB, then when you go to open a file, they pull that from the DB


### What is a Relational Database? 
- A *relational database management system* (**RDBMS**) is a type of DBMS with a row-based table structure that connects related data elements and includes functions that maintain the security, accuracy, integrity and consistency of the data.
- The most basic **RDBMS** functions are related to *create, read, update and delete* operations, collectively known as **CRUD**.

### What is SQL?

- **SQL** (usually pronounced like the word “sequel”) stands for Structured Query Language.
- A programming language used to communicate with data stored in a relational database management system.
    - The language used to talk to the DB
- SQL syntax is similar to the English language, which makes it relatively easy to write, read, and interpret.

## POPULAR RDBMS

- SQLite
- MySQL
- PostgreSql
- Oracle DB
- SQL Server

----
- There exist nonrelational DBs -> ex. MongoDB

### SQLite

- SQLite is a popular open source SQL database. 
- It can store an entire database in a single file.
- It is 'lite' because it is not server based.
    - every other one uses a server to store data, and you access it from the cloud, or whatever
- Does not have many features of server-based RDBMS like users and permissions.
    - permissions examples: this user can add data, look at that table, can't delete data, etc.
- Great to get up and running quick, not good for complex projects.
    - some android apps use it like a fancy, easy to use excel file

### MySQL

- MySQL is the most popular open source SQL database.
    - Oracle recently bought it :/ still free, but haven't done updates or anything since they want you to use their stuff
- It is typically used for web application development, and often accessed using PHP. 
- It is easy to use, inexpensive, reliable and has a large community of developers who can help answer questions.
- Open source development has lagged since Oracle has taken control of MySQL.
- Has been known to suffer from poor performance when scaling, 
- Does not include some advanced features that developers may be used to.

### PostgreSQL

- PostgreSQL is an open-source SQL database that is not controlled by any corporation.
    - recently become more popular since Oracle bought MySQL
- PostgreSQL shares many of the same advantages of MySQL.
- It is slower in performance than other databases such as MySQL
- Harder to come by hosts or service providers that offer managed PostgreSQL instances.

### Oracle DB

- Owned by Oracle Corporation, and the code is not open sourced. 
- Oracle DB is for large applications, particularly in the banking industry. 
    - has a lot of security features
   
- The main disadvantage of using Oracle is that it is not free.

### SQL Server

- Microsoft owns SQL Server. 
- Large enterprise applications mostly use SQL Server.
- Microsoft offers a free entry-level version called Express but can become very expensive as you scale your application.

### What are the major parts of a SQL DB?

- Tables
- Schema
- Indexes
- Views
- Store Procedures
- Triggers

#### Tables
Tables are used to store data within the database.  They are its main component and without them, the database would serve little purpose. 
- "the heart of the DB"

- Tables can have hundreds, thousands, sometimes even millions of rows of data. These rows are often called **records**.
- The consists of **columns** of data that are labeled with a descriptive name (say, age for example) and have a specific data type.
- Never really want to have one table that stores it all -- you want lots of related tables, because otherwise the tables become unweildy and hard to manuever.

#### Schema
A relational database schema helps you to organize and understand the structure of a database.

![alt text](images/employees-schema.png)

### Entity-Relationship Model

Entity-Relationship (ER) Model is based on the notion of real-world entities and relationships among them. While formulating real-world scenario into the database model, the ER Model creates entity set, relationship set, general attributes and constraints.

<img src="images/er_model_intro.png" >

**Entity** − An entity in an ER Model is a real-world entity having properties called attributes. Every attribute is defined by its set of values called domain. For example, in a school database, a student is considered as an entity, with various attributes like name, age, class, etc.

**Relationship** − The logical association among entities is called relationship. Relationships are mapped with entities in various ways. 

**Relationship Mappings** −

- one to one
- one to many
- many to one
- many to many

### Indexes
Indexes are used to make data retrieval faster. Rather than having to scan an entire table for data, an index allows the database to, directly retrieve the data being asked of it.

- if you're querying your data and it's running slow, add indices! Makes looking through DBs much faster. (sometimes is an interview question!)

Indexes are primariy created using using a **Primary Key**.
A primary key’s main features are:

- It must contain a unique value for each row of data.
- It cannot contain null values.

A primary key is either an existing table column or a column that is specifically generated by the database according to a defined sequence.

If you were a tax accountant and you wanted to create a database of your clients, which of the following columns who be a good choice for your primary key?

- First Name
- Last Name
- Email Address
- SSN
- Phone Number

### Views 

Help combat this issue by allowing the database administrator to create “canned” or pre-built queries.

Allow you to pull data from multiple tables together without moving or copying the data.

### Stored Procedures

There are many situations where queries alone are insufficient to solve a problem.  In these cases, developers rely on programming languages to process logic, to loop through records, and perform conditional comparisons as required.  These programs can be stored in the SQL database as stored procedures.

### Triggers

Triggers are special instructions that are executed when important events, such as inserting or updating records in a table happen. The most common triggers are Insert, Update, and Delete triggers.  

Two items define a trigger on a table: a stored procedure and an event, such as inserting a record that invokes its execution.

## Working With SQLite

SQLite comes standard with Python so all you need to do to get it set up is write:

`import sqlite3`

There are specific python modules that you can use to work with SQL dbs depending on the DB.

- Microsoft SQL = pymssql
- Postgres = psycopg2
- MySQLdb = MySQLDB

You can write sql directly from the terminal too

### Creating a Connection

Before you can do anything with your DB, you must first create a connection with it. For DBs that are server based, this can be more coplicated requiring you to know the server ip, a username, password database name, and port. 
``` python 
import MySQLdb
conn = MySQLdb.connect(host=host, user=user, passwd=passwd, db=db)
```

For SQLite, this is much easier because you just need to access the flat file where the DB is stored. 
- if it isn't there, then it just creates a DB with that name
- a flat file is basically like self contained data not relying on anything else?

In [1]:
import sqlite3

conn = sqlite3.connect('tutorial.db')

#### Cursor
This temporary work area is used to store the data retrieved from the database, and manipulate this data. 

A cursor can hold more than one row, but can process only one row at a time. 

The set of rows the cursor holds is called the active set.

In [2]:
c = conn.cursor()

#### Create a Table
Now that we have a connection and a cursor, lets create a table.

#### SQLite Data Types

Any column declared in an SQLite database is assigned a type affinity depending on it declared data type. Here the list of type affinities in SQLite:

- TEXT
- NUMERIC
- INTEGER
- REAL
- BLOB

However, you still can store any type of data as you wish, these types are recommended not required.

These types were introduced in SQLite to maximize the compatibility between SQLite and other database management system.

<img src="images/SQLlite_datatype.jpg" width=450/>

In [3]:
create_query = """CREATE TABLE IF NOT EXISTS stuffToPlot
        (unix REAL, datestamp TEXT, keyword TEXT, value REAL)"""
def create_table(query):
    c.execute(query)

# This is a good idea! In our labs we've been having to 
# constantly rewrite our df = pd.DataFrame(...), and that 
# should've set off a red flag! Create a function going forward.

In [4]:
insert_query = """INSERT INTO stuffToPlot VALUES
                (1452549219,'2016-01-11 13:53:39','Python',6)"""
# The three double quotes are there so that you can take a query 
# and copy it into here or something and not worry about open and
# closed quotes

def data_entry(query):
    c.execute(query)

    conn.commit() # save this
    
def close_c_conn():
    c.close()
    conn.close()
    # These close out your connection to the DB
    # Important to do this because if you don't, it can crash, bc 
    # of too many connections -- after too many, you get frozen out
    # of your DB!!

In [5]:
create_table(create_query)
data_entry(insert_query)

close_c_conn()

#### Inserting Data dynamically

In [6]:
import time
import datetime
import random

In [7]:
conn = sqlite3.connect('tutorial.db')
c = conn.cursor()

In [8]:
def dynamic_data_entry():

    unix = int(time.time())
    date = str(datetime.datetime.fromtimestamp(unix).strftime('%Y-%m-%d %H:%M:%S'))
    keyword = 'Python'
    value = random.randrange(0,10)

    c.execute("INSERT INTO stuffToPlot (unix, datestamp, keyword, value) VALUES (?, ?, ?, ?)",
          (unix, date, keyword, value))
    # (unix, datestamp, ...) explicitly states where to put this new data
    # random data inserted where each ? is
    
    conn.commit()

# inserts 10 rows, sleeps for 1 sec so that the values are all different
for i in range(10):
    dynamic_data_entry()
    time.sleep(1)

# c.close
# conn.close()

We can also write a query that reads from the DB

In [9]:
def read_from_db():
    c.execute('SELECT * FROM stuffToPlot')
    data = c.fetchall() # can also do fetchone() to do it one row at a time
    print(data)
    for row in data:
        print(row)

read_from_db()

[(1452549219.0, '2016-01-11 13:53:39', 'Python', 6.0), (1563826442.0, '2019-07-22 16:14:02', 'Python', 0.0), (1563826443.0, '2019-07-22 16:14:03', 'Python', 2.0), (1563826444.0, '2019-07-22 16:14:04', 'Python', 8.0), (1563826445.0, '2019-07-22 16:14:05', 'Python', 8.0), (1563826446.0, '2019-07-22 16:14:06', 'Python', 1.0), (1563826447.0, '2019-07-22 16:14:07', 'Python', 0.0), (1563826448.0, '2019-07-22 16:14:08', 'Python', 1.0), (1563826449.0, '2019-07-22 16:14:09', 'Python', 1.0), (1563826450.0, '2019-07-22 16:14:10', 'Python', 7.0), (1563826451.0, '2019-07-22 16:14:11', 'Python', 9.0), (1452549219.0, '2016-01-11 13:53:39', 'Python', 6.0), (1563828598.0, '2019-07-22 16:49:58', 'Python', 2.0), (1563828599.0, '2019-07-22 16:49:59', 'Python', 5.0), (1563828600.0, '2019-07-22 16:50:00', 'Python', 5.0), (1563828601.0, '2019-07-22 16:50:01', 'Python', 3.0), (1563828602.0, '2019-07-22 16:50:02', 'Python', 5.0), (1563828603.0, '2019-07-22 16:50:03', 'Python', 7.0), (1563828604.0, '2019-07-22 16:50:04', 'Python', 1.0), (1563828605.0, '2019-07-22 16:50:05', 'Python', 8.0), (1563828606.0, '2019-07-22 16:50:06', 'Python', 2.0), (1563828607.0, '2019-07-22 16:50:07', 'Python', 9.0), (1452549219.0, '2016-01-11 13:53:39', 'Python', 6.0), (1563829727.0, '2019-07-22 17:08:47', 'Python', 8.0), (1563829728.0, '2019-07-22 17:08:48', 'Python', 7.0), (1563829729.0, '2019-07-22 17:08:49', 'Python', 9.0), (1563829730.0, '2019-07-22 17:08:50', 'Python', 2.0), (1563829731.0, '2019-07-22 17:08:51', 'Python', 1.0), (1563829732.0, '2019-07-22 17:08:52', 'Python', 2.0), (1563829733.0, '2019-07-22 17:08:53', 'Python', 1.0), (1563829734.0, '2019-07-22 17:08:54', 'Python', 6.0), (1563829735.0, '2019-07-22 17:08:55', 'Python', 9.0), (1563829736.0, '2019-07-22 17:08:56', 'Python', 7.0)]
(1452549219.0, '2016-01-11 13:53:39', 'Python', 6.0)
(1563826442.0, '2019-07-22 16:14:02', 'Python', 0.0)
(1563826443.0, '2019-07-22 16:14:03', 'Python', 2.0)
(1563826444.0, '2019-07-22 16:14:04', 'Python', 8.0)
(1563826445.0, '2019-07-22 16:14:05', 'Python', 8.0)
(1563826446.0, '2019-07-22 16:14:06', 'Python', 1.0)
(1563826447.0, '2019-07-22 16:14:07', 'Python', 0.0)
(1563826448.0, '2019-07-22 16:14:08', 'Python', 1.0)
(1563826449.0, '2019-07-22 16:14:09', 'Python', 1.0)
(1563826450.0, '2019-07-22 16:14:10', 'Python', 7.0)
(1563826451.0, '2019-07-22 16:14:11', 'Python', 9.0)
(1452549219.0, '2016-01-11 13:53:39', 'Python', 6.0)
(1563828598.0, '2019-07-22 16:49:58', 'Python', 2.0)
(1563828599.0, '2019-07-22 16:49:59', 'Python', 5.0)
(1563828600.0, '2019-07-22 16:50:00', 'Python', 5.0)
(1563828601.0, '2019-07-22 16:50:01', 'Python', 3.0)
(1563828602.0, '2019-07-22 16:50:02', 'Python', 5.0)
(1563828603.0, '2019-07-22 16:50:03', 'Python', 7.0)
(1563828604.0, '2019-07-22 16:50:04', 'Python', 1.0)
(1563828605.0, '2019-07-22 16:50:05', 'Python', 8.0)
(1563828606.0, '2019-07-22 16:50:06', 'Python', 2.0)
(1563828607.0, '2019-07-22 16:50:07', 'Python', 9.0)
(1452549219.0, '2016-01-11 13:53:39', 'Python', 6.0)
(1563829727.0, '2019-07-22 17:08:47', 'Python', 8.0)
(1563829728.0, '2019-07-22 17:08:48', 'Python', 7.0)
(1563829729.0, '2019-07-22 17:08:49', 'Python', 9.0)
(1563829730.0, '2019-07-22 17:08:50', 'Python', 2.0)
(1563829731.0, '2019-07-22 17:08:51', 'Python', 1.0)
(1563829732.0, '2019-07-22 17:08:52', 'Python', 2.0)
(1563829733.0, '2019-07-22 17:08:53', 'Python', 1.0)
(1563829734.0, '2019-07-22 17:08:54', 'Python', 6.0)
(1563829735.0, '2019-07-22 17:08:55', 'Python', 9.0)
(1563829736.0, '2019-07-22 17:08:56', 'Python', 7.0)

In [10]:
close_c_conn()

### Let's set up a DB fto use later.


In the zip folder you have a json file with information about all of the students in this class.  
1. Read in the JSON file
2. Examine data in file
3. Create a table for the data
4. Create a function to insert each data entry dynamically
5. Insert Data
6. Write queries to answer the following questions

### 1. Read in the JSON file

In [11]:

import json
f=open('students.json','r')
data=json.load(f)

### 2. Examine the Data

In [12]:
data

[{'name': 'Sean Abu Wilson',
  'birthdate': '02/06',
  'siblings': 2,
  'Birthplace': 'Birmingham, AL',
  'yearsinnyc': 7.8,
  'favoritefood': 'guacamole'},
 {'name': 'Tawab',
  'birthdate': '04/08/1998',
  'siblings': 4,
  'Birthplace': 'Afghanistan',
  'yearsinnyc': 0.5,
  'favoritefood': 'pizza'},
 {'name': 'Bridget Boakye',
  'birthdate': '1990-07-13',
  'siblings': 3,
  'Birthplace': 'Accra',
  'yearsinnyc': 15,
  'favoritefood': 'Indian'},
 {'name': 'Cristina',
  'birthdate': '9/9/1990',
  'siblings': 2,
  'Birthplace': 'Spain',
  'yearsinnyc': 6,
  'favoritefood': 'Sushi'},
 {'name': 'Danny (Haoyang) Yu',
  'birthdate': '1997-03-19',
  'siblings': 2,
  'Birthplace': '1997-03-19',
  'yearsinnyc': 0,
  'favoritefood': 'Galbi'},
 {'name': 'Dustin_Breitner',
  'birthdate': '04/15/94',
  'siblings': 2,
  'Birthplace': 'New_York',
  'yearsinnyc': 3,
  'favoritefood': 'Pizza'},
 {'name': 'Gregory DeSantis',
  'birthdate': '1987-11-23',
  'siblings': 2,
  'Birthplace': 'Highland Park, NJ',
  'yearsinnyc': 13,
  'favoritefood': 'Pizza'},
 {'name': 'Harrison Miller',
  'birthdate': '10/2/85',
  'siblings': 0,
  'Birthplace': 'New Jersey',
  'yearsinnyc': 0,
  'favoritefood': 'Pizza'},
 {'name': 'Jeremy Owens',
  'birthdate': '03/30/1990',
  'siblings': 0,
  'Birthplace': 'Virginia',
  'yearsinnyc': 6,
  'favoritefood': 'Avocado'},
 {'name': 'Jeremy Reikes',
  'birthdate': '1-/12/1995',
  'siblings': 1,
  'Birthplace': 'New York City',
  'yearsinnyc': 23,
  'favoritefood': 'Pizza'},
 {'name': 'Johnathan Peck',
  'birthdate': '02-19-1994',
  'siblings': 2,
  'Birthplace': 'New York',
  'yearsinnyc': 25,
  'favoritefood': 'Moms food'},
 {'name': 'Minna F',
  'birthdate': '11-19-1996',
  'siblings': 3,
  'Birthplace': 'San Francisco',
  'yearsinnyc': 1,
  'favoritefood': 'sushi'},
 {'name': 'Nabil Abbas',
  'birthdate': '12-07-1994',
  'siblings': 2,
  'Birthplace': 'Long Island',
  'yearsinnyc': 6,
  'favoritefood': 'Gyro'},
 {'name': 'Natalie Del Rossi',
  'birthdate': '10-23-1994',
  'siblings': 0,
  'Birthplace': 'Brooklyn',
  'yearsinnyc': 18,
  'favoritefood': 'pizza'},
 {'name': 'Remy Canario',
  'birthdate': '10-11-1988',
  'siblings': 0,
  'Birthplace': 'New York',
  'yearsinnyc': 28,
  'favoritefood': 'toast'},
 {'name': 'Xristos Katsaros',
  'birthdate': '03-24-1986',
  'siblings': 1,
  'Birthplace': 'Chicago Heights, IL',
  'yearsinnyc': 3,
  'favoritefood': 'Pizza'}]

### 3. Create a table for the data

We want to set up a table to keep track of the following student information:

- name
- birthdate
- number of siblings
- birth_place
- years_in_nyc
- favorite_food

In [13]:
conn = sqlite3.connect('tutorial.db')
c = conn.cursor()

In [14]:
#Write a statement to create a table
# think about what datatype you wnat each field to be
c.execute('''
CREATE TABLE IF NOT EXISTS student_data
        (id INTEGER PRIMARY KEY AUTOINCREMENT, 
         name TEXT, birthdate DATE, siblings INT,  
         birth_place TEXT, years_in_nyc REAL, 
         favorite_food TEXT)
''')

conn.commit()

### 4. Create a function to insert each data entry dynamically

In [32]:
# reformat birthdays with slashes to dashes
for i in data:
    i['birthdate'] = i['birthdate'].replace('/', '-')
    
# trying to put year on the end
for i in data:
    i['birthdate'].split('-')

02-06
04-08-1998
1990-07-13
09-0-1990
1997-03-19
04-15-94
1987-11-23
10-0-85
03-30-1990
1--12-1995
02-19-1994
11-19-1996
12-07-1994
10-23-1994
10-11-1988
03-24-1986

In [20]:
#Create an insert statement to insert yourself as a record.
    
c.execute("""DELETE FROM student_data """)

def insert_data(i):
    c.execute("""INSERT INTO student_data (name, birthdate, 
                                           siblings, birth_place, 
                                           years_in_nyc, 
                                           favorite_food) 
                 VALUES (?, ?, ?, ?, ?, ?)""", (i['name'], i['birthdate'],
                                                i['siblings'], i['Birthplace'],
                                                i['yearsinnyc'], 
                                                i['favoritefood'].lower()
                                                ) 
             )

insert_data({'name': 'Hannah',
  'birthdate': '12-03-1996',
  'siblings': 1,
  'Birthplace': 'New York, NY',
  'yearsinnyc': 22,
  'favoritefood': 'Pizza'})

c.execute("""SELECT * FROM student_data""")
c.fetchall()

[('Hannah', '12-03-1996', 1, 'New York, NY', 22.0, 'pizza')]

### 5. Insert Data

In [21]:
# write code here

for i in data:
    insert_data(i)

c.execute("""SELECT * FROM student_data""")
c.fetchall()

[('Hannah', '12-03-1996', 1, 'New York, NY', 22.0, 'pizza'),
 ('Sean Abu Wilson', '02-06', 2, 'Birmingham, AL', 7.8, 'guacamole'),
 ('Tawab', '04-08-1998', 4, 'Afghanistan', 0.5, 'pizza'),
 ('Bridget Boakye', '1990-07-13', 3, 'Accra', 15.0, 'indian'),
 ('Cristina', '9-9-1990', 2, 'Spain', 6.0, 'sushi'),
 ('Danny (Haoyang) Yu', '1997-03-19', 2, '1997-03-19', 0.0, 'galbi'),
 ('Dustin_Breitner', '04-15-94', 2, 'New_York', 3.0, 'pizza'),
 ('Gregory DeSantis', '1987-11-23', 2, 'Highland Park, NJ', 13.0, 'pizza'),
 ('Harrison Miller', '10-2-85', 0, 'New Jersey', 0.0, 'pizza'),
 ('Jeremy Owens', '03-30-1990', 0, 'Virginia', 6.0, 'avocado'),
 ('Jeremy Reikes', '1--12-1995', 1, 'New York City', 23.0, 'pizza'),
 ('Johnathan Peck', '02-19-1994', 2, 'New York', 25.0, 'moms food'),
 ('Minna F', '11-19-1996', 3, 'San Francisco', 1.0, 'sushi'),
 ('Nabil Abbas', '12-07-1994', 2, 'Long Island', 6.0, 'gyro'),
 ('Natalie Del Rossi', '10-23-1994', 0, 'Brooklyn', 18.0, 'pizza'),
 ('Remy Canario', '10-11-1988', 0, 'New York', 28.0, 'toast'),
 ('Xristos Katsaros', '03-24-1986', 1, 'Chicago Heights, IL', 3.0, 'pizza')]

### 6. Write queries to answer the following questions

### Questions
1. Which student was born closest to the cohort's graduation date?
2. Which student has the most siblings?
3. How many students are only children?
4. Which 3 students have lived in NYC the shortest amount of time?
5. How many students are native New Yorkers?
5. Do any two students have the same favorite food?

In [18]:
# q1 - ????
c.execute("""SELECT birthdate FROM student_data ORDER BY birthdate""")
c.fetchall()

# # q2 -- Tawab with 4 siblings
# c.execute("""SELECT name, siblings FROM student_data ORDER BY siblings DESC LIMIT 1 """)
# c.fetchall()

# # q3 -- 4
# c.execute("""SELECT COUNT(siblings) FROM student_data WHERE siblings = 0""")
# c.fetchall()

# # q4 -- Danny, Harrison, & Tawab
# c.execute("""SELECT name FROM student_data ORDER BY years_in_nyc LIMIT 3""")
# c.fetchall()

# # q5
# new_yorkers = ['%New%York%', 'Queens', 'Brooklyn', 'Staten Island', 'the Bronx', ]
# c.execute("""SELECT COUNT(name), birth_place FROM student_data WHERE birth_place 
# LIKE '%new%york%' OR birth_place LIKE 'Brooklyn%' OR birth_place LIKE 'Staten%Island%' 
# OR birth_place LIKE 'Queens%' OR birth_place LIKE '%Bronx%'""")
# c.fetchall()

# # q6 -- yes, pizza appears 8 times (6 uppercase, 2 lowercase)
# c.execute("""SELECT favorite_food,COUNT(favorite_food) FROM student_data GROUP BY favorite_food""")
# c.fetchall()

[('02-19-1994',),
 ('02/06',),
 ('03-24-1986',),
 ('03/30/1990',),
 ('04/08/1998',),
 ('04/15/94',),
 ('1-/12/1995',),
 ('10-11-1988',),
 ('10-23-1994',),
 ('10/2/85',),
 ('11-19-1996',),
 ('12-03-1996',),
 ('12-07-1994',),
 ('1987-11-23',),
 ('1990-07-13',),
 ('1997-03-19',),
 ('9/9/1990',)]