# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [6]:
data = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user", '|')

In [155]:
data.set_index("user_id", inplace = True)

### Step 3. Assign it to a variable called users.

In [9]:
users = data.copy(deep=True)

### Step 4. Discover what is the mean age per occupation

In [10]:
users.groupby('occupation').age.mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [157]:
# def male_ratio(df):
#     groupby_occ = df.groupby(['occupation', 'gender']).gender.count()
#     ratios = []
    
#     #this just gets a list of occupations
#     occupations = groupby_occ.index.levels[0]
    
#     #loop through occupations
#     for occupation in occupations:
#         try:
#             m = groupby_occ[occupation]['M']
#             f = groupby_occ[occupation]['F']
#             ratios.append(m/(f + m))
#         except KeyError:
#             f = 0
#             ratios.append(m/(f + m))
#     return ratios

    
# users['mf-ratio'] = male_ratio(users)

### Step 6. For each occupation, calculate the minimum and maximum ages

In [94]:
users.groupby('occupation').age.min()

occupation
administrator    21
artist           19
doctor           28
educator         23
engineer         22
entertainment    15
executive        22
healthcare       22
homemaker        20
lawyer           21
librarian        23
marketing        24
none             11
other            13
programmer       20
retired          51
salesman         18
scientist        23
student           7
technician       21
writer           18
Name: age, dtype: int64

In [95]:
users.groupby('occupation').age.max()

occupation
administrator    70
artist           48
doctor           64
educator         63
engineer         70
entertainment    50
executive        69
healthcare       62
homemaker        50
lawyer           53
librarian        69
marketing        55
none             55
other            64
programmer       63
retired          73
salesman         66
scientist        55
student          42
technician       55
writer           60
Name: age, dtype: int64

### Step 7. For each combination of occupation and gender, calculate the mean age

In [165]:
users.query('gender == "M"').groupby(['occupation', 'gender']).age.mean()

occupation     gender
administrator  M         37.162791
artist         M         32.333333
doctor         M         43.571429
educator       M         43.101449
engineer       M         36.600000
entertainment  M         29.000000
executive      M         38.172414
healthcare     M         45.400000
homemaker      M         23.000000
lawyer         M         36.200000
librarian      M         40.000000
marketing      M         37.875000
none           M         18.600000
other          M         34.028986
programmer     M         33.216667
retired        M         62.538462
salesman       M         38.555556
scientist      M         36.321429
student        M         22.669118
technician     M         32.961538
writer         M         35.346154
Name: age, dtype: float64

In [166]:
users.query('gender == "F"').groupby(['occupation', 'gender']).age.mean()

occupation     gender
administrator  F         40.638889
artist         F         30.307692
educator       F         39.115385
engineer       F         29.500000
entertainment  F         31.000000
executive      F         44.000000
healthcare     F         39.818182
homemaker      F         34.166667
lawyer         F         39.500000
librarian      F         40.000000
marketing      F         37.200000
none           F         36.500000
other          F         35.472222
programmer     F         32.166667
retired        F         70.000000
salesman       F         27.000000
scientist      F         28.333333
student        F         20.750000
technician     F         38.000000
writer         F         37.631579
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

occupation     gender
administrator  F          45.569620
               M          54.430380
artist         F          46.428571
               M          53.571429
doctor         M         100.000000
educator       F          27.368421
               M          72.631579
engineer       F           2.985075
               M          97.014925
entertainment  F          11.111111
               M          88.888889
executive      F           9.375000
               M          90.625000
healthcare     F          68.750000
               M          31.250000
homemaker      F          85.714286
               M          14.285714
lawyer         F          16.666667
               M          83.333333
librarian      F          56.862745
               M          43.137255
marketing      F          38.461538
               M          61.538462
none           F          44.444444
               M          55.555556
other          F          34.285714
               M          65.714286
programmer     F           9.090909
               M          90.909091
retired        F           7.142857
               M          92.857143
salesman       F          25.000000
               M          75.000000
scientist      F           9.677419
               M          90.322581
student        F          30.612245
               M          69.387755
technician     F           3.703704
               M          96.296296
writer         F          42.222222
               M          57.777778
Name: gender, dtype: float64